body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul#album-list
{
	list-style: none;
	margin-left: 0px;
}

ul#album-list li
{
	float: left;
	margin: 10px;
	text-align: center;
}

ul#album-list li a, ul#album-list li .button
{
	font-size: 13px;
	float: left;
}

ul#album-list li a span
{
	color: #9b9993;
	text-decoration: underline;
}